// Place all the styles related to the estoque controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table.clean {
  margin-bottom: 0;
  margin-top: -3px;
  background-color: transparent;
  td {
    border: none;
    padding: 3px;
  }
}

.label.bigger {
  font-size: 100%;
  padding: .1em .6em .1em;
}
